* {
    --Blue: #345ff6;
    --Gunmetal: #253347;
    --Dark-Electric-Blue: #5e6e85;
    --Borders: #d8e2e7;
    --Pure-White: #ffffff;
    font-family: "Inter", sans-serif;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button,
input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    appearance: none;
    -moz-appearance: textfield !important;
}
body{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    max-width: 375px;
    
}

/* ---------------------------- Header -------------------------------- */
header{
    background: linear-gradient(90deg, rgba(243,253,255,1) 0%, rgba(215, 231, 254,1) 100%);
    border-radius: 0 0 20px 20px;
    padding-bottom: 200px;
    margin-bottom: 500px;
    position: relative;
}
#tittle{
    padding: 50px 20px;
    text-align: center;
    color: var(--Gunmetal);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#tittle img{
    width: 50px;
}
/* ------------------------------- Header END ------------------------------------ */
/* -------------------------------- Calc Style -------------------------------------- */
.card{
    position: absolute;
    top: 400px;
    color: var(--Gunmetal);
    background-color: var(--Pure-White);
    margin: 0px 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 500px -10px var(--Borders);
}
#inputGroup1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#inputGroup2{
    display: none;
}
#radios{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.radio-label{
    display: inline-block;
    position: relative;
    padding-left: 50px;
    margin-left: 15px;
}

.radio-input{
    appearance: none;
    top: -6px;
    left: 1px;
    position: absolute;
    width: 26px;
    height: 26px;
}
.radio-label::before {
    content: "";
    display: inline-block;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 2px solid rgba(215, 231, 254,1);
    position: absolute;
    left: 4px;
    top: 50%;
    transform: translateY(-50%);
}
.radio-label:hover::before {
    border-color: var(--Blue);
}
input[type="radio"]:checked {
    top: 0;
    left: 7px;
    box-shadow: 0 0 0 10px rgba(215, 231, 254,1);
    background-color: #345ff6;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}
#metric{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#metric p{
    margin: 10px;
}
#metric input{
    font-weight: 700;
    color: var(--Gunmetal);
    font-size: 18px;
    border-radius: 10px;
    height: 50px;
    border: 1px solid var(--Borders);
    outline: none;
    text-indent: 20px
}
#metric input:focus{
    border-color: var(--Blue);
}
#metric span{
    font-weight: 700;
    color: var(--Blue);
}
.cmm::after{
    content: 'cm';
    position: absolute;
    right: 20px;
    top: 55px;
}
.kgg::after{
    content: 'kg';
    position: absolute;
    right: 20px;
    top: 55px;
}
#heigth, #weight{
    position: relative;
    display: flex;
    flex-direction: column;
}
#submit-btn, #submit-btn-imp{
    border-radius: 10px;
    margin-top: 50px;
    text-align: start;
    padding-left: 20px;
    background-color: #345ff6;
    border: none;
    color: var(--Pure-White);
    cursor: pointer;
    height: 200px;
    width: 100%;
}
#submit-btn h2{
    margin: 10px 0;
    font-weight: 700;
    font-size: 2.5rem;
}
#submit-btn-imp h2{
    margin: 10px 0;
    font-weight: 700;
    font-size: 2.5rem;
}
#imperial{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#imperial p{
    margin: 10px;
}
#imperial input{
    font-weight: 700;
    color: var(--Gunmetal);
    font-size: 18px;
    border-radius: 10px;
    height: 50px;
    border: 1px solid var(--Borders);
    outline: none;
    text-indent: 20px
}
#imperial input:focus{
    border-color: var(--Blue);
}
#imperial span{
    font-weight: 700;
    color: var(--Blue);
}
#heigth-imp{
    position: relative;
    margin-left: 5px;
    display: flex;
    gap: 10px;
    justify-content: center;
    justify-content: space-between;
}
#heigth-imp input{
    width: 100%;    
}
#weightt-imp{
    position: relative;
    margin-left: 5px;
    display: flex;
    gap: 10px;
    justify-content: center;
    justify-content: space-between;
}
#weightt-imp input{
    width: 100%;    
}
.ft::after{
    position: absolute;
    content: "ft";
    top: 17px;
    left: 100px;
}
.in::after{
    position: absolute;
    content: "in";
    top: 17px;
    right: 30px;
}
.st::after{
    position: absolute;
    content: "st";
    top: 17px;
    left: 100px;
}
.lbs::after{
    position: absolute;
    content: "lbs";
    top: 17px;
    right: 30px;
}
/* --------------------------------- SECTION ------------------------------------ */
.mean{
    color: var(--Gunmetal);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.man-eating img{
    width: 100%;
}
.mean-text{
    padding: 0 20px;
    margin-top: 20px;
}
.mean-text h1{
    font-size: 2.2rem;
}
.mean-text p{
    font-size: 1.1rem;
    color: var(--Dark-Electric-Blue);
}
.container{
    margin-top: 50px;
    background: linear-gradient(90deg, rgba(243,253,255,1) 0%, rgba(215, 231, 254,.3) 100%);
    padding: 50px 20px;
}
.container img{
    margin-top: 50px;
}
.container h2{
    font-size: 2rem;
    color: var(--Gunmetal);
}
.container p{
    color: var(--Dark-Electric-Blue);
    font-size: 1.1rem;
    max-width: 80%;
}
.limitations{
    margin-top: 50px;
    color: var(--Gunmetal);
    font-size: 1.1rem;
    padding-bottom: 100px;

}
.limitations p{
    color: var(--Dark-Electric-Blue);
}
.limitation-ttl{
    text-align: center;
    padding: 0 20px;
}
.cardd{
    padding: 30px 20px;
    margin: 30px 10px;
    border-radius: 20px;
    box-shadow: 10px 10px 200px var(--Borders);
}
.ttl-img{
    display: flex;
    align-items: center;
    gap: 20px;
}
/* ------------------------------------------- Medium Devices ------------------------------- */
@media screen and (min-width: 768px) {
    body{
        max-width: 768px;
    }
    .card{
        width: 90%;
    }
    #metric{
        flex-direction: row;
        gap: 120px;
    }
    #radios{
        justify-content: space-between;
        margin-right: 190px;
    }
    #submit-btn, #submit-btn-imp{
        border-radius: 10px 100px 100px 10px;
    }
    .ft::after{
        left: 300px;
    }
    .st::after{
        left: 300px;
    }
    .mean{
        padding-top: 100px;
        flex-direction: row;
        gap: 20px;
    }
    .man-eating{
        width: 50%;
    }
    .mean-text{
        width: 50%;
    }
    .eating, .exercise, .sleep{
        display: flex;
        gap: 50px;
    }
    .limitations{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .cardd{
        margin: 10px;
    }
    .limitation-ttl{
        justify-content: center;
        align-items: center;
        grid-row: 1;
        grid-column: 1/5;
    }
    .gender{
        grid-row: 2;
        grid-column: 1/3;
    }
    .age{
        grid-row: 2;
        grid-column: 3/5;
    }
    .muscle{
        grid-row: 3;
        grid-column: 1/3;
    }
    .pregnancy{
        grid-row: 3;
        grid-column: 3/5;

    }
    .race{
        grid-row: 4;
        grid-column: 2/4;
    }
}
/* ------------------------------------------ Desktop ------------------------------------- */
@media screen and (min-width: 1281px) {
    body{
        max-width: 1440px;
    }
    header{
        margin-bottom: 100px;
    }
    #tittle{
        text-align: start;
        display: block;
        max-width: 50%;
    }
    #tittle h1{
        font-size: 3.5rem;
    }
    #tittle p{
        color: var(--Dark-Electric-Blue);
    }
    #tittle img{
        width: 100px;
        margin-bottom: 100px;
    }
    .card{
        max-width: 50%;
        right: -100px;
        top: 100px;
    }
    .container{
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .eating, .exercise, .sleep{
        flex-direction: column;
    }
    .mean{
        background: no-repeat top right url(./assets/images/pattern-curved-line-left.svg);
    }
    .limitations{
        background: no-repeat left center url(./assets/images/pattern-curved-line-right.svg);
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .cardd{
        justify-self: flex-end;
    }
    .limitation-ttl{
        padding: 0;
        text-align: start;
        grid-row: 1;
        grid-column: 1/3;
    }
    .gender{
        grid-row: 1;
        grid-column: 4/6;
    }
    .age{
        grid-row: 2;
        grid-column: 3/5;
    }
    .muscle{
        grid-row: 2;
        grid-column: 5/7;
    }
    .pregnancy{
        grid-row: 3;
        grid-column: 2/4;
    }
    .race{
        grid-row: 3;
        grid-column: 4/6;
    }
}